/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/Homestead.json
/Homestead.yaml
auth.json
.env
.env.backup
.env.production
.phpactions.cache
.phpunit.result.cache
.DS_Store
Thumbs.db
.idea
.vscode
yarn-error.log
